.word-boxes-container{
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 50px;
}

.word-box{
    width: 50px;
    height: 55px;
    background-color: #323232;
    border-bottom: 4px solid #F9F4DA;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: white;
}